{% extends 'index.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    LOGIN
{% endblock title %}

{% block imagen %} {% static 'assets/img/login.jpg' %} {% endblock imagen %}

{% block titulo_principal %}
    <h1>LOGIN</h1>
{% endblock titulo_principal %}

{% block barra_busqueda %}{% endblock barra_busqueda %}

{% block contenido %} 
    <div class="card">
        <div class="card-body">
            <h1> Login </h1>
            <form action="" method="post" class="card-content">
                {% csrf_token %}
                <div class="card-item p-2">
                    <label for="exampleInputEmail1">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Nombre de Usuario">
                </div>
                <div class="card-item p-2">
                    <label for="exampleInputPassword1">Contaseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Contraseña">
                </div>
                <div class="card-button p-2">
                    <button type="submit" class="btn btn-success btn-block text-white"> Iniciar Sesion </button>
                </div>
                <div class="card-button p-2">
                    <a class="card-link" href={% url 'register' %}>¿No tenes cuenta? Registrate</a>
                    <a class="card-link" href="#">¿Te olvidaste tu contraseña?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock contenido %}