{% extends 'index.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    Envio de Correo
{% endblock title %}

{% block imagen %} {% static 'assets/img/login.jpg' %} {% endblock imagen %}

{% block titulo_principal %}
    <h1>Envio de Correo</h1>
{% endblock titulo_principal %}

{% block barra_busqueda %}{% endblock barra_busqueda %}

{% block contenido %} 
    <div class="card">
        <div class="card-body">
            <h1> Envio de Correo </h1>
            <form action="" method="post" class="card-content">
                {% csrf_token %}
                <div class="card-item p-2">
                    <h4> Te hemos enviado un correo electronico con las instrucciones para recuperar tu contraseña. </h4>
                </div>
                <div class="card-button p-2">
                    <a class="card-link" href={% url 'inicio' %}>Inicio</a>
                    <a class="card-link" href={% url 'login' %}>Iniciar Sesion</a>
                </div>
            </form>
        </div>
    </div>
{% endblock contenido %}