{% extends 'index.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    Recuperar Contraseña
{% endblock title %}

{% block imagen %} {% static 'assets/img/login.jpg' %} {% endblock imagen %}

{% block titulo_principal %}
    <h1>Recuperar Contraseña</h1>
{% endblock titulo_principal %}

{% block barra_busqueda %}{% endblock barra_busqueda %}

{% block contenido %} 
    <div class="card">
        <div class="card-body">
            <h1> Recuperar Contraseña </h1>
            <form action="" method="post" class="card-content">
                {% csrf_token %}
                <div class="card-item p-2">
                    <label for="exampleInputEmail1">Correo Electronico</label>
                    {{ form.email }}
                </div>
                <div class="card-button p-2">
                    <button type="submit" class="btn btn-success btn-block text-white"> Enviar </button>
                </div>
                <div class="card-button p-2">
                    <a class="card-link" href={% url 'inicio' %}>Inicio</a>
                    <a class="card-link" href={% url 'login' %}>Iniciar Sesion</a>
                </div>
            </form>
        </div>
    </div>
{% endblock contenido %}